__pycache__/
build/
*.egg-info/
*.so
*.mp4

tmp*
trial*/

data
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
*.mp4
.DS_Store
workspace/log_ngp.txt
.idea
auth_backend/
feature_cache
Miniconda3/
hf_download/
py312/
checkpoints/
tf_download/
voice-lib-backen/
uploads/
outputs/
*.pth
*.pt
*log.txt
log.txt

wav2lip/results/

metahuman-stream*
*.zip
FunASR_WS/
*.pem